@font-face {
   font-family: 'LinBiolinum';
   font-style: normal;
   font-weight: 400;
   src: url('/home/pjsmooth/Desktop/Projects/React Projects/markdown-preview/public/fonts/LinBiolinum_Rah.ttf') format('truetype'),
}
